h1 {
   display: block;
   margin-right: auto;
   text-align: center;
   font-size: 1rem;
   padding-top: 3px;
   padding-left: 50px;
   padding-bottom: 50px;
   font-family: 'Karla', sans-serif;
}

p {
   text-align: left;
   padding: 50px;
   width: 40%;
   line-height: 1.3;
   font-family: 'Lato', sans-serif;
}

.card {
   text-align: center;
}

.card img {
   margin: 15px;
   width: 40%;
}

.last-item {
   padding-bottom: 80px;
}

#container {
   margin: auto;
   width: 90%;
   padding-bottom: 70px;
}

#first {
   visibility: hidden;
}

nav ul {
   padding: 14px 0 0;
   background-color: #FFE8E3;
   list-style: none;
   text-align: center;
   font-size: 1.5rem;
   width: 100%;
   display: flex;
   justify-content: space-around;
}

nav ul li {
   display: inline-block;
   text-align: center;
}

nav ul li a {
   display: block;
   color: black;
   text-decoration: none;
   padding-left: 50px;
   padding-right: 50px;
   padding-bottom: 20px;
   font-family: 'Karla', sans-serif;
}

a:active {
   color: black;
   text-decoration: underline;
}

a:visited {
   color: black;
}

a:hover {
   color: black;
   text-decoration: underline;
}

footer {
   position: fixed;
   bottom: 0;
   width: 100vw;
}

.last-item {
   padding-bottom: 80px;
}

@media (max-width: 1500px) {
  .card img {
    display: inline;
  }
}

@media (max-width: 1500px) {
   header {
    position: absolute;
  }
}

@media (max-width: 800px) {
  .card img {
    width: 90%;
  }
}

@media (max-width: 880px){
   footer {
      /* height: 30vh; */
      bottom:0px;
   }

   nav ul {
      display: inline-block;
      text-align: center;
      background-color: #FFEFE3;
      font-size: 1.2rem;
   }
}

@media (max-width: 800px) {
   h1 {
      width: 80%;
      text-align: center;
      font-size: 1rem;
      padding-top: 3px;
      padding-bottom: 50px;
      font-family: 'Karla', sans-serif;
   }

   p {
      text-align: center;
      width: 80%;
      line-height: 1.3;
   }
}
