h1 {
   display: block;
   margin-right: auto;
   width: 40%;
   text-align: left;
   font-size: 2rem;
   padding-top: 10px;
   padding-left: 50px;
   padding-bottom: 55px;
   font-family: 'Karla', sans-serif;
}

.card {
   text-align: center;
}

.card img {
   content: center;
   margin: 15px;
   width: 45%;
}

nav ul {
   padding: 14px 0 0;
   background-color: #FFE8E3;
   list-style: none;
   text-align: center;
   font-size: 1.5rem;
   width: 100%;
   display: flex;
   justify-content: space-around;
}

nav ul li {
   display: inline-block;
   text-align: center;
}

nav ul li a {
   display: block;
   color: black;
   text-decoration: none;
   padding-left: 50px;
   padding-right: 50px;
   padding-bottom: 20px;
   font-family: 'Karla', sans-serif;
}

a:active {
   color: black;
   text-decoration: underline;
}

a:visited {
   color: black;
}

a:hover {
   color: black;
   text-decoration: underline;
}

footer {
   position: fixed;
   bottom: 0;
   width: 100vw;
}
